{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
    </thead>
   <tbody>
    {% for stock in stocks %}
    <tr>
        <td>{{ stock["symbol"] }}</td>
        <td>{{ stock["name"] }}</td>
        <td>{{ stock["totalShares"] }}</td>
        <td>{{ usd(stock["price"]) }}</td>
        <td>{{ usd(stock["totalShares"] * stock["price"]) }}</td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
            <td>{{usd(cash)}} </td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
            <td class="border-0 w-bold text-en">{{usd(total)}} </td>
        </tr>
    </tfoot>
</table>

{% endblock %}